<html>
<head>
<link rel="stylesheet" type="text/css" href="page.css">

<title>{{.Title}}</title>
</head>
<body>
<div class=content>

   {{range $page := .Images }} 
   <div class=page>
      {{range $img := $page }} 
         <span class=image><a href="{{$img.Link}}"><img src="{{$img.ThumbSrc}}"/></a></span>
      {{end}}
   </div>
   {{end}}

</div>
</body>
</html>
