
body {
    background-color: lightblue;
}
h1 {
    color: navy;
    margin-left: 20px;
}

div.page {
   padding: 2px;
   margin: 2px;
}

span.image {
   padding: 1px;
}
span.image#hover {
   background: blue;
}
